.file-input {
    display: none;
}

.file-upload-container {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 3%;
    width: 25%;
    margin: 0 auto;
}